apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: synapse
resources:
  - deployment.yaml
  - service.yaml
  - rbac.yaml
  - sealedsecret.yaml
  - images.yaml
images:
  - name: dock.mau.dev/mautrix/signal
    newTag: v0.2601.0 # {"$imagepolicy": "synapse:mautrix-signal:tag"}
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/component: mautrix-signal
