apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: synapse
resources:
  - ./state-compressor
  - ./bridges
  - helm.yaml
  - namespace.yaml
  - podmonitor.yaml
  - sealedsecret.yaml
  - storage.yaml
