---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: synapse
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: matrix-server
  podMetricsEndpoints:
    - port: metrics
      path: /_synapse/metrics
