apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 24h0m0s
  install:
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: cert-manager
      version: "v1.19.3" # {"$imagepolicy": "cert-manager:cert-manager:tag"}
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
      interval: 24h0m0s
  values:
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
