---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgC12FeiP+wW5WgscDEqjh08/YT/b2gsDI6oVbMieDghVN369pfXVVHviJhuvhauouUlnBKLj3feCZxgisprxeqQw8zFWRcjaAnElcS86B3yq7yUNN6PIkhGcu4ieF3hctkoVh6YFqmDc5y5HXcrA/+1Vnt6icfrMncy6Q+3qTz8w+IzTl10q+NwYdFzX0AsdV9cBqicorSmPzQcInqNPSJ5rdEA/D+UGmr9gjyyl4viEMRuxPYexPIldf92aV1enrpdQRTuKURAu8WgOc1Rsm4Y7BS4wTGZDM8yh5mq6XvGXWQx2rGm5/995OOOkJO2GrqvyQinqBCDl7r9OtYYiowrTVyCrQ3G5dVOIQMTX+WUKW+OUvQPqUryzgc6QCkK4H9m5n+cj8d1OuvtMgqnxE9Gcj1upFd94Iq9bqynrnmd6vMnC5NsL6LoKAe0haPtKiCwKdQdwZzkc4hN2YZt5r9a6OdoEJyo/9YRD7xK0R8cUNbBbmFYuQSPEms1aT5t7i3bnpQp0fixVYpsnrilYclnjG9yqz405Q24cvLs++29V+wOO+OKpkt+NujAatH4jth2Opg+KEqAJLOuLpVUAuIRo/XrEUuQZwSpwtGQomuzN95AitYCQbvAFkaeL/xHihXZi6lhqKrmFh5wEXPOInDjpLqJBZOKAACQkoYWbXUjnoQf4XufSoZxCBJEpGCLZsL3IYycSPqTxNJkG1udesFI309iEfkdZpRX1ruvgEQuyHOTkrlNOXfj
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
