---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgCzQG4ptWfsQ/0Bgh/NhahRieL2KLmezl4bguvt1vmDeiHgjAJA7B/Pl/f3RHWQElshNNugGpi3WGjaMv5vEjzc6yyGfSaI0nqDZEoxPNJlWI/j5qGQWPxQKmVZAbkPACdzFcuqQvqksph4MNrCmHwsLUOrmhPnTGRcbF6BJfYhUV5Dx852s3tEsb8HIc8IoqXPHWRMPQmkxUjtE2o8wSYDBA/+0T7SiyUdmU9wJI4oB4aQcM+shUWJk+H1PxnI2NXumfH1/pVhIdGRqiIVJ0N40H1S6rrk4UYQ+xzCJHGp6zqtQ5laG278Qx63KdEGvWE0T4tbbM9zJ4teKh9P0yywmT6MjaduJBYqLUZtLoYaVOKimgD2yzaSUlFNXYyMLyEBHbpkEMqax1r86DU3toX4/fnXmyUhuDU8tW/vgLABQzLgy6F9TejgRrEG8qMXlYA0oz2m3B18E53iDUWseKKFZz7mduWZtalqtGAyzxavEoyUWdrYJWHsXUHe0e/GEfJc0vxBiIMvkk3QdX5Ed/qafzei8ha4lFc1YNnkPy9KcuXILWIEoAhxU+a3pFJtT0TREzOm4j81CxOFN6wF4Hmd6TVC60Z9BR/RdoJ+8C865BAMGU1twWb1xEmorbPo9T50e6dRc3dQy+cX+4/yNBHmPCycReMjj131j1m9/CMFPEM3lgOLksmVSbyQ/MTNWWPsxhMfnaxvXvewba+nUL5ty4X1dY/cHRB+flLSlRth3NEttPZnGLAW
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
