---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBnJhVW2HvSTcKVu6Hr0HLiUEf8tAHZ5SWDRDe+ttZOgLOJTphNaBG6uAsHyydH9hlm0AtxhUCTu6W4BIHsurgqCOVvCeoryq/ReRm65iNkdxn9seSkQgzo5FzvdH5bPYWqnbFaHAHSIWLoSuA8qvLEkP5/JQZEI0O7jA2nLWSeUb/yjOyYhXZAEfwYO7W2cGG5jTrk9an9aSZaUFny2PXOu9Py65Gz7KgSLBKlxjaFgv2xF1YFAiCqwUm/GApHWJjDBYVNtn5Vdut9CmTXXUmaIUJtuyVecHF4QkmNRpFXpzAteyvXkU9eanF3cmqM3zSYo/z32nNkf/uoK6LlwyiEVYlxUFx0lSMap2yF22Ep9JFMvSw30yt2rI2l+V1Je3o1fIWpUZ+YmTheRqDKw4+5ALFjQNMjP36M4qUtLxzQR1Livl2j9KdUVY9dUeKU9BPR7QzKKL7qNxA7mP1e2cyInLyIxCCniEvBIOjgBRs7et+uJKo42yQpgpyMD/FioT5XRtfz9OVy6qEY8yAMvl/sVOMcNzJ7fBEOSfAEROp+plzqxAjCnKo1CaPBLAeUAm7ShcqxXmFROQBNbRji5wgR8bltP+yXCgtvcBbjombWSJ2UGjcj6cX9ZFfAUffnwg7BMN5SrCMOxMe1tUh+y8HUv5H/F4Ln0bvk/fhTtsstUPAPeIVsFkT0pIbbUovZBwaezNB/VY02gLLkUIkW44QUD11jMjFlgmNIp3ST3J/VhJtK7O4GoT5s
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
