---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgA27bXYQF0VCeZ1ZFeHKI8ynDBTWQ+1IAb0zPdjyglHBvXwrh92MNqHwwn3YXjQq+VEhCbY4IdE0WuWFc5iXPysrpPsRKvloWmGmh50hsnpet/dI8t0WlTc3fB4eeElrOLRp9cTF6fhcMBpT/1+4H6rN5Edc2PRPC3mcYMb1aZa+7JZ8JXr+lt3tzh1wrsBOQGsNakBWTTdFRjujf9dDL8DWHANoubrpMWh4k8wYwZtXrgCnE2cNYWeZ2teSIgo7N96V1rSl6REXryWh3wuUepivso769EAyYmD213TGdOj4hf+TcecyGU4PpBYKjQ2hLZtEhBJg0vbtgvjiN9e8RNhERAsoH01L/q86eff0ApI13Cx0Zb07KGS99Kp61L1dxK89rDwmYGmuCp13r41BdHnhijkLXiPLbPUz7IH22VsYxyi0pUx8J+TJ2lCMnSOeNYcTQZ2G6B53o4wP3yc+yBWmvjELKhv1PgNbB6Nr4BdijFQr9FHmf/CMFPWxU30jZjA7peB5+LU6FClmnz+KWrIKwfGKQebrAA6Zsi8brYKGiYklQlF14GfkqNI6xRLs0HBQghrfUATM3Kszg7t2jX6u+a+03YWjsonjmQT82WLCiIVKSS09CDCMLdAtbtAGrBTeYEZCuVRX7d+EdB4oTQx8ZMcg5kvJVt4+xEebpraTkzFK7uuEf62xgCgNaM4APRDsjllgfWQJTvT2ne0GVkj8kttUiNrTmnjUWEBQLaUd7dp+vzzkIz4
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
