---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBVWBPTXTQ8j4gEVtubp01VuUh3yXN+tC85UyehO7Q6O1p04z7JMmWoHVw3RWUSb77J3ck6mBopHkeLFTCEvkInMyFeTdJINITfJIiHWl0F7mE4e2vCRLb/s6kU+8/TQL1a3VcMojf+Qg0nk+oo9mH2RpGhTQFdj9uvMueUTzz95DVrHEeRV+IFrXmNk3ZzXMMfU1cc/3ZNPvpAfyGReLdcJk8d2b9w73DsAGADlKMlxTF64i5rJXK5J/gD83dO3Xt7Jw5KtwBAKZx96Mn/HkAFdRjyudqsctJTTk/km4iOxIs7Vn5WWI71YUQeqpGha4mVBz5EStUwjy6VZ36oY9YY9m8KJnCj2JP18RNvGJbfSHP6ar/yHW4eBvGJTFNVuW4m6Y5g9RLLQ6PK6wN/oeS3vVX3VZ6w1/VReYh23fJGVFh7Cid9Y3bOgcy0OlZd4EQhFOJIJGmn2TzryYIa8/YrON03BTPWVSvKuqyP1iyQTbAUebOS1dZZlrcdztHXgnP6NJ5Kqh0wHUOXoCoiQmnMQqWwUc6k32M9NuS35H4I3PVGecPp5VyULQccvxuFYKVzNBDYFn4hkaMpxXg7C5hYJB/X/AXfsI3dmCKHPHu4Yy7abwI3tgmUWsxmONfUlnIzoO2zyP/AYlNqa6PL6uc5sW4dCYdCLpiB8gbaxulmNUCmmwvd0/pNlEUz7rhKBUlRaEEWuuerEW5UxD6kaq4tonggji3S4UavTVPXwAhWoRth7LsYks5k
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
