---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgCNFT6NZGg+Yc2glSlv8F+kY44I+bkkcUbmoDw424iPVx4fO3aEjvOT5j1zveWsg6IwqZP++QyqZVk+fBoXJ9AiLxc4aqKsx5s/bhpnews3cVaaIejaeDqAN2+kZBRzzjaVLKkBiQIwii04JA1dCG2S8WKv4WF3y97aViXCyasHFi4YQxlH0v0QjsNEuV2djDWxteP2s0ujnANh8BxGetg1rjtOHHZWd3c7ImLNSlM3UtvHN1ocY0uKtGZRrHisiJaZy85BLPKbNNIMoZkekOaEdz/vBnYyJ7Xq0YzUFZfPHJMB/hX4jrzFrix6jXbh0fRgGSAC3I8rI2pkbphia6F0Jepjc1msXm5Qa8yqpEz5zeA3MygMfycvlwr52dBnDuMfgbkRCE9IKCagjugXHF70IoGMOmxK7j/vG0RjbSQOPsHSNA0spLx1zy3oNQdinsAFfQQqw41vUXYB8+DbXEHnGvlOzfrDCrdKPLHMJ9v5GnhbX/4eNys5vouWYwMDpywpd/tefZm3nGvCpv1E2FqRl/Jcm1WgFcxHtWUQfvPe9dkKd8JB9l4EXq+D8/ehS/Sm6zR/ZjJCwe+UPvHOOZ55ptiaFLKgzjDsr4epjKfPKxcfrxw6NoU/2cardYoxF+su0iAD7RqEQkSV2AV5oRC+mH+BBb/hqUj2Lm7cZpo1CMW7A10X8sE6klnOXHaHtfRLq4M3oV+VwFJJoKFpOJzbCdyLMC22aMuZPSipHBHDEMCB4tjz19qE
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
