---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgDKKB04hGvIUybCgUuhuUV1CQdSvemA97ReRqr/gSqOQulLaaOLq2nBLt3YTh/gfMzwUYGODtvb9/N/ulC/xschaOvz5bsYageAKStKfPOSBc8UCe3AsJaRhLvDQyFUbfucKv4t82GwS9qwj/5CPSxz3JopdF8KAKQ+0rr/K9C8SzByDGo4en8gHBxVJGPpGePWNBg6U7A+d17RKl9twY8+v1yxT5DrhTN1ghushhNIrkJY9uJXhQXVl3YAcER18XAlx8QGb63OkIyfwM2gSPNb2jDAuda+LAvcDryjpY89xNX4N1OOhRq/YIT3yAJ/JdmYmV2iT58lS09p1mnch/tatzs6KE56ojWapH0k24M8qw+gA7rY2yJ4YU3D3TaVdUywNBf4sd96BscayLmLTETFyBQrdqIHF4mYbL5knzudQvmU5oCfhAUW4etxzKB909L5Ne+H++R7sHR/UmZCH0lm1KFnW0bABfPg/CRjsoL3kuHk/U2+MCq1BUUW5+gSGbGxkzPgtjJoNHIC7lXzMtRpinaz6FuQlDOn0BgUr85rjoBTXvOLymYtU3Ot9QEEQ8/KJN5+GL7nUDoEC42yXoDaKbGRljZ6z7rix+Qfl9eoPPQv2BHD+R9dC9wa45ABFuvP0DSNcJdvjXdYCaG2Z5Zv6GDi+eVSXdhbtjnFpHg4ISBNa8fHNMwCuWndj4WjoHJkV0NeCqk6L17tvkWZy4tsirPUddvPIUJgk34HT88zFEAGsd+U/Zv6
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
