apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pinchflat
resources:
  - deployment.yaml
  - namespace.yaml
  - service.yaml
  - storage.yaml
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: pinchflat
images:
  - name: ghcr.io/kieraneglin/pinchflat
    newTag: v2025.6.6
