apiVersion: v1
kind: Service
metadata:
  name: pinchflat
  namespace: pinchflat
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  ports:
    - name: http
      port: 80
      targetPort: http
