apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  interval: 24h0m0s
  install:
    remediation:
      retries: 1
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 1
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: velero
      version: "11.1.1"
      sourceRef:
        kind: HelmRepository
        name: vmware
        namespace: flux-system
      interval: 24h0m0s
  values:
    image:
      repository: velero/velero
      tag: v1.14.1
      pullPolicy: IfNotPresent
    kubectl:
      image:
        repository: bitnamilegacy/kubectl
        tag: 1.33.4
    resources: {}
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.10.0
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins

    metrics:
      enabled: true
      serviceMonitor:
        autodetect: true
        enabled: true
      nodeAgentPodMonitor:
        autodetect: true
        enabled: true
      prometheusRule:
        autodetect: true
        enabled: true
        additionalLabels: {}
        spec:
          - alert: VeleroBackupPartialFailures
            annotations:
              message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups.
            expr: |-
              velero_backup_partial_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
            for: 15m
            labels:
              severity: warning
          - alert: VeleroBackupFailures
            annotations:
              message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} failed backups.
            expr: |-
              velero_backup_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
            for: 15m
            labels:
              severity: warning

    snapshotsEnabled: false

    configuration:
      backupStorageLocation:
        - name: backups
          provider: aws
          bucket: seymour-family-backup
          default: true
          credential:
            name: cloud-provider-credentials
            key: credentials
          config:
            region: us-west-004
            s3Url: https://s3.us-west-004.backblazeb2.com
            checksumAlgorithm: ""

    credentials:
      useSecret: true
      existingSecret: cloud-provider-credentials

    backupsEnabled: true
    deployNodeAgent: true
    nodeAgent:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    schedules: {}
