apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  interval: 24h0m0s
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: authentik
      version: "2025.6.4"
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 24h0m0s
  valuesFrom:
    - kind: Secret
      name: authentik-values
  values:
    global:
      env:
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: disable
    authentik:
      error_reporting:
        enabled: true
      postgresql:
        host: 192.168.1.204
        name: authentik
      redis:
        host: redis-headless.redis.svc.cluster.local
    server:
      resources:
        requests:
          cpu: 100m
          memory: 500Mi
        limits:
          memory: 2Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      ingress:
        ingressClassName: traefik
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - authentik.seymour.family
        tls:
          - hosts:
              - authentik.seymour.family
            secretName: authentik-tls
    worker:
      resources:
        requests:
          cpu: 100m
          memory: 300Mi
        limits:
          memory: 1Gi
    postgresql:
      enabled: false
    redis:
      enabled: false
