---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  interval: 24h0m0s
  install:
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: node-feature-discovery
      version: "0.18.3"
      sourceRef:
        kind: HelmRepository
        name: nfd
        namespace: flux-system
      interval: 24h0m0s
  values:
    worker:
      config:
        sleepInterval: 0s
