apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 24h0m0s
  timeout: 5m0s
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: nextcloud
      version: "8.5.1"
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
      interval: 24h0m0s
  values:
    image:
      flavor: apache
      tag: 32.0.3 # {"$imagepolicy": "nextcloud:nextcloud:tag"}
    podAnnotations:
      backup.velero.io/backup-volumes: nextcloud-data
    nextcloud:
      host: cloud.seymour.family
      configs:
        proxy.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' => array(
              0 => '127.0.0.1',
              1 => '10.0.0.0/8',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'default_phone_region' => '+1',
            'maintenance_window_start' => 1,
            'loglevel' => 5
          );
      podSecurityContext:
        fsGroupChangePolicy: OnRootMismatch
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 4Gi
    startupProbe:
      enabled: true
    ingress:
      enabled: true
      ingressClass: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
        traefik.ingress.kubernetes.io/router.middlewares: nextcloud-dav-redirect@kubernetescrd,nextcloud-webfinger-redirect@kubernetescrd,nextcloud-nodeinfo-redirect@kubernetescrd,nextcloud-no-robots@kubernetescrd
      tls:
        - hosts:
            - cloud.seymour.family
          secretName: nextcloud-tls
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: "postgresql"
      host: 192.168.1.204:5432
      database: nextcloud
      existingSecret:
        secretName: "nextcloud-postgres-user-nextcloud"
        usernameKey: "username"
        passwordKey: "password"
    cronjob:
      enabled: true
    persistence:
      enabled: true
      storageClass: truenas-iscsi-csi
      nextcloudData:
        enabled: true
        storageClass: truenas-nfs-csi
        size: 500Gi
    phpClientHttpsFix:
      enabled: true
