---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: nextcloud
spec:
  image: nextcloud
  interval: 24h0m0s
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: nextcloud
spec:
  imageRepositoryRef:
    name: nextcloud
  policy:
    semver:
      range: 32.x
