---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-postgres
spec:
  instances: 2
  imagePullPolicy: IfNotPresent
  postgresUID: 26
  postgresGID: 26
  storage:
    size: 20Gi
    storageClass: truenas-iscsi-csi
  primaryUpdateMethod: switchover
  primaryUpdateStrategy: unsupervised
  logLevel: info
  monitoring:
    enablePodMonitor: true
    disableDefaultQueries: false
  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud
      secret:
        name: nextcloud-postgres-user-nextcloud
  managed:
    roles:
      - name: nextcloud
        ensure: present
        superuser: true
        login: true
        passwordSecret:
          name: nextcloud-postgres-user-nextcloud
  backup:
    barmanObjectStore:
      destinationPath: "s3://seymour-family-postgres/nextcloud"
      endpointURL: "https://s3.us-west-004.backblazeb2.com"
      s3Credentials:
        accessKeyId:
          name: backblaze-creds
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: backblaze-creds
          key: ACCESS_SECRET_KEY
    retentionPolicy: "30d"
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-postgres-backup
spec:
  storage:
    size: 20Gi
    storageClass: truenas-iscsi-csi
  bootstrap:
    recovery:
      source: clusterBackup
  externalClusters:
    - name: clusterBackup
      barmanObjectStore:
        destinationPath: "s3://seymour-family-postgres/nextcloud"
        serverName: nextcloud-postgres
        endpointURL: "https://s3.us-west-004.backblazeb2.com"
        s3Credentials:
          accessKeyId:
            name: backblaze-creds
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: backblaze-creds
            key: ACCESS_SECRET_KEY
        wal:
          maxParallel: 8
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: nextcloud-postgres
spec:
  schedule: "0 0 0 * * *"
  immediate: true
  backupOwnerReference: self
  cluster:
    name: nextcloud-postgres
