apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 24h0m0s
  timeout: 5m0s
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: immich
      version: "0.9.3"
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
      interval: 24h0m0s
  valuesFrom:
    - kind: Secret
      name: immich-values
  values:
    env:
      REDIS_HOSTNAME: redis-master.redis.svc
    image:
      tag: v2.3.1 # {"$imagepolicy": "immich:immich:tag"}
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: library
    server:
      enabled: true
      podAnnotations:
        backup.velero.io/backup-volumes: library
      image:
        repository: ghcr.io/immich-app/immich-server
        pullPolicy: IfNotPresent
      podSecurityContext:
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: Always
      ingress:
        main:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-production
          hosts:
            - host: photos.seymour.family
              paths:
                - path: "/"
          tls:
            - hosts:
                - photos.seymour.family
              secretName: immich-tls
    machine-learning:
      enabled: true
      podSecurityContext:
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: Always
      image:
        repository: ghcr.io/immich-app/immich-machine-learning
        pullPolicy: IfNotPresent
      persistence:
        matplotlib:
          enabled: true
          type: emptyDir
          mountPath: /.config
        tmp:
          enabled: true
          type: emptyDir
          mountPath: /.cache
      probes:
        liveness:
          spec:
            initialDelaySeconds: 180
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 6
        readiness:
          spec:
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 2
