---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: device-plugins-operator
  namespace: intel-system
spec:
  interval: 24h0m0s
  install:
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: "0.34.1"
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
      interval: 24h0m0s
  values:
    worker:
      config:
        sleepInterval: 0s
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gpu-plugin
  namespace: intel-system
spec:
  interval: 24h0m0s
  install:
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: "0.34.1"
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
      interval: 24h0m0s
  values:
    name: igpu
    nodeSelector:
      intel.feature.node.kubernetes.io/gpu: "true"
